@tailwind base;
@tailwind components;
@tailwind utilities;

.progress-ring__circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

::-webkit-scrollbar {
  position: relative;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #2f2f2f;
}

::-webkit-scrollbar-thumb {
  background: #4f4f4f;
  border-radius: 2rem;
  overflow: hidden;
}

::-webkit-scrollbar-thumb:hover {
  background: #6e6e6e;
}

input,
textarea {
  @apply w-full rounded-lg text-center bg-slate-700;
}
